<!DOCTYPE html>
<html lang="en" ng-app="widgets" ng-controller="PhotoCtrl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Photo Widget</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js" charset="utf-8"></script>

    <script src="photos.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
    <script src="controller.photo.js" charset="utf-8"></script>

    <link rel="stylesheet" href="style.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-xs-3" ng-repeat="image in images">
          <a href="{{image.link}}"><img ng-src="{{image.images.standard_resolution.url}}" class="img-responsive" ng-mouseover="showImage(image)" ng-mouseleave="hideImage(image)"></a>
          <div ng-if="image.visible">
            <div class="caption">Caption: {{ image.caption.text | limitTo:100 }}</div>
            <div>User: {{ image.user.username }}</div>
            <div>Datestamp: {{ image.created_time * 1000 | date:"medium" }}</div>
            <div>Likes: {{ image.likes.count }}</div>
            <div>Comments: {{ image.comments.count }}</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
