thead th {
  padding-right: 1em;
}

a {
  cursor:pointer;
  color: blue;
  text-decoration: underline;
}

.user.row {
  height: 50px;
  cursor: pointer;
}
.users-scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 200px;
}
